<div class="container">
    <div class="card myCard">

        <form id="editUserForm" class="myForm" th:method="POST" enctype="multipart/form-data" th:action="@{/user/edit}" th:object="${user}">
            <h3>Edit profile: </h3>
            <label for="oldImg">Profile picture: </label>
            <img id="oldImg" th:src="*{profilePic}" style="width: 150px;">

            <div class="input-field ">
                <label for="username">Username: </label>
                <input th:placeholder="*{username}" disabled type="text" id="username" name="username">
            </div>
            <div class="input-field">
                <label for="nickname">Nickname: </label>
                <input th:placeholder="*{nickname}" type="text" id="nickname" name="nickname">
            </div>
            <div class="input-field">
                <label for="email">Email: </label>
                <input th:placeholder="*{email}" type="email" id="email" name="email">
            </div>
            <div class="input-field">
                <label for="password">Password</label>
                <input type="password" id="password" name="password">
            </div>
            <div class="input-field">
                <label for="confirmPassword">Confirm password</label>
                <input type="password" id="confirmPassword" name="confirmPassword">
            </div>
            <div class="input-field">
                <label for="oldPassword">oldPassword</label>
                <input type="password" id="oldPassword" name="oldPassword">
            </div>
            <label for="file">New profile picture: </label>
            <input id="file" name="file" type="file" class="dropify" data-allowed-file-extensions="jpg png jpeg gif webp" data-height="300">


            <div class="button-holder d-flex justify-content-center">
                <button id="editUserBtn" type="button" class="btn btn-secondary myBtn">SAVE</button>
            </div>
        </form>
    </div>
</div>