<div class="container">
    <div class="row">
        <div class="col l6 s12">
            <h5 class="white-text">About site</h5>
            <p class="grey-text text-lighten-4">Demo 9gag clone made as a final project to a training program.</p>
        </div>
        <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
                <li><a class="grey-text text-lighten-3" href="https://github.com/troqta/AccentureGag" target="_blank">GitHub</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container">
        © 2019 Accenture
    </div>
</div>