<div class="alignCenter">
    <div class="myGag">
        <div style="display: inline-block">
            <a class="gagLink" th:href="@{/gag/{id}(id=${gag.id})}" th:text="${gag.name}">gag</a>
            <div class="inline">
                <img class="materialboxed" th:src="${gag.content}">
            </div>
            <a id="pointsComments" class="grayLink" th:href="@{/gag/{id}(id=${gag.id})}"
               th:text="|${gag.upvotes} points  ${gag.comments.size()} comments|"></a>
            <div style="text-align:left;">
                <th:block th:each="tag : ${gag.tags}">
                    <a th:href="@{/tag/{name}(name=${tag.name})}" th:text="${tag.name}" class="chip"></a>
                </th:block>
            </div>
        </div>
    </div>
</div>
<div sec:authorize="isAuthenticated()">
    <!--<form th:action="@{/gag/like/{id} (id=${gag.id})}" method="POST">-->
    <button id="likeBtn" th:classappend="${hasLiked} ? disabled : enabled" class="waves-effect waves-light btn"><i
            class="material-icons left">arrow_upward</i>Like!
    </button>
    <!--</form>-->
</div>
<a sec:authorize="isAuthenticated()" th:if="${user.isAdmin() OR user.isAuthor(gag)}"
   th:href="@{/gag/edit/{id} (id=${gag.id})}" class="waves-effect waves-light btn">EDIT</a>
<div>
    <p th:text="|${gag.comments.size()} comments|"></p>
    <hr>
    <form id="commentForm" th:action="@{/gag/comment/{id} (id=${gag.id})}" method="POST" sec:authorize="isAuthenticated()">

        <div>
            <label for="content">Post a Comment!</label>
            <textarea class="materialize-textarea commentContent" id="content" name="content"></textarea>
        </div>
        <button id="submitComment" type="button" class="waves-effect waves-light btn green accent-4"><i class="material-icons">comment</i>
        </button>

    </form>
    <div th:each="comment : ${gag.comments}">
        <img style="width:60px; display: inline-block;" th:src="${comment.author.profilePic}">
        <div style="display:inline-block;">
            <span style="font-weight: 700;font-size: 13px;color: #000;" th:text="${comment.author.nickname}"></span>
            <span style="font-size: 11px;line-height: 20px;color: #999;" th:text="${comment.postDate}"></span>
            <p th:text="${comment.content}"></p>
        </div>
    </div>
</div>