
<div class="alignCenter">
    <div class="myGag">
        <div style="display: inline-block">
            <a class="gagLink" th:href="@{/gag/{id}(id=${gag.id})}" th:text="${gag.name}">gag</a>
            <div class="inline">
                <img class="materialboxed" th:src="${gag.content}">
            </div>
            <a class="grayLink" th:href="@{/gag/{id}(id=${gag.id})}" th:text="|${gag.upvotes} points  ${gag.comments.size()} comments|"></a>
            <div style="text-align:left;">
                <th:block th:each="tag : ${gag.tags}">
                    <a th:href="@{/tag/{name}(name=${tag.name})}" th:text="${tag.name}" class="chip"></a>
                </th:block>
            </div>
        </div>
    </div>
</div>
<div sec:authorize="isAuthenticated()" th:unless="${hasLiked}">
        <form th:action="@{/gag/like/{id} (id=${gag.id})}" method="POST">
            <button  type="submit" class="waves-effect waves-light btn"><i class="material-icons left">arrow_upward</i>Like!</button>
        </form>
    </div>
    <a sec:authorize="isAuthenticated()" th:if="${user.isAdmin() OR user.isAuthor(gag)}"  th:href="@{/gag/edit/{id} (id=${gag.id})}" class="waves-effect waves-light btn">EDIT</a>
</div>
<form th:action="@{/gag/comment/{id} (id=${gag.id})}" method="POST" sec:authorize="isAuthenticated()">
    <div>
        <label for="content">Comment content</label>
        <textarea class="materialize-textarea" id="content" name="content"></textarea>
    </div>
    <button  type="submit" class="waves-effect waves-light btn"><i class="material-icons left">comment</i>Comment!</button>

</form>
<p th:text="|${gag.comments.size()} comments|"></p>
<div th:each="comment : ${gag.comments}">
    <div class="comment">
        <img style="width:60px; display: inline-block;" th:src="${comment.author.profilePic}">
        <div style="display:inline-block;">
            <span th:text="${comment.author.nickname}"></span> <span th:text="${comment.postDate}"></span>
            <p th:text="${comment.content}"></p>
        </div>

    </div>
</div>