
<div th:object="${gag}">
    <h2>TITLE: <span th:text="*{name}"></span></h2>

    <img class="materialboxed" th:src="*{content}" style="width: 300px;">

    <h2>Author: <span th:text="*{author.id}"></span></h2>
    <a th:href="@{/user/{id}(id=*{author.id})}">
        <div  class="chip">
            <img th:src="*{author.profilePic}" alt="Contact Person">
            <span th:text="*{author.nickname}"></span>
        </div>
    </a>

    <h2>Upvotes: <span th:text="*{upvotes}"></span></h2>
    <div th:each="tag : ${gag.tags}">
        <span th:text="${tag.name}">gag</span>
    </div>
    <div th:unless="${hasLiked}">
        <form th:action="@{/gag/like/{id} (id=${gag.id})}" method="POST">
            <button  type="submit" class="waves-effect waves-light btn"><i class="material-icons left">arrow_upward</i>Like!</button>
        </form>
    </div>
</div>