
<div class="container" style="margin-bottom:16%;">
    <div class="card myCard">
        <form class="myForm" id="registerForm" th:method="POST" th:action="@{/register}" th:object="${user}">
            <h3>Register: </h3>
            <th:block th:each="error : ${errors}">
                <small style="color:rgba(255, 0 , 0, 0.5)" th:text="${error.getDefaultMessage()}"></small>
            </th:block>

            <div class="input-field">
                <label for="username">Username</label>
                <input class="userNameRegister" type="text" id="username" name="username">
            </div>


            <div class="input-field">
                <label for="password">Password</label>
                <input class="passwordRegister" type="password" id="password" name="password">
            </div>
            <div class="input-field">
                <label for="confirmPassword">Confirm password</label>
                <input class="passwordRegister" type="password" id="confirmPassword" name="confirmPassword">
            </div>


            <div class="button-holder d-flex justify-content-center">
                <button id="registerBtn" class=" btn myBtn" type="button">Register</button>
            </div>
        </form>
    </div>
</div>